# Domain
DOMAIN_NAME=#here goes the domain name (login.42.fr)

# MariaDB
MYSQL_DATABASE=#here goes the database name
MYSQL_USER=#here goes the database user name
MYSQL_PASSWORD=#here goes the database user password
MYSQL_ROOT_PASSWORD=#here goes the database root password

# Wordpress
WP_USER=#here goes the wordpress user name
WP_USER_PASSWORD=#here goes the wordpress user password
WP_ADMIN=#here goes the wordpress admin name
WP_ADMIN_PASSWORD=#here goes the wordpress admin password